# secrets & local env
.env
.venv/

# local data landing
data/

# python
__pycache__/
*.pyc

# duckdb warehouse
*.duckdb

# dbt artifacts
dbt/target/
dbt/logs/

# dagster local instance
.dagster_home/

# power bi cache / local project files
*.pbix.tmp
**/.pbi/
**/cache.abf
**/*.pbix.tmp

# os junk
.DS_Store

# dbt local user id
dbt/.user.yml
